body {
    font-family: sans-serif;
    background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/50/98/3HeCQc.jpg);
}

#container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 30px;
    color: #0E0ADF;
    font-size: 48px;
}

h3 {
    margin-bottom: 30px;
}

input {
    display: block;
    background: #C0D3DF;
    border-radius: 10px;
    width: 295px;
    height: 63px;
    left: 572px;
    top: 459px;
    font-size: 30px;
    margin: auto;
}

#start {
    position: relative;
    left: 44%;
    margin-top: 20px;
    background: #1EC81B;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 143px;
    height: 52px;
    font-size: 36px;
}

#Leader_board {
    width: 600px;
    height: 330px;
    left: 420px;
    top: 627px;
    background: #268AA9;
    border-radius: 5px;
    margin: auto;
}

#Leader_board h2 {
    position: relative;
    text-align: center;
    top: 30px;
    margin: 30px;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    margin: auto;
}

table td {
    width: 33%;
    text-align: center;
    line-height: 40px;
}

#question {
    width: 80%;
    margin: auto;
    background: #666B6E;
    border-radius: 20px;
}

.question-header {
    display: flex;
    width: 50%;
}

.question-header:first-child {
    justify-content: flex-end;
}

.question-header:last-child {
    justify-content: center;
}

.question-header span {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #FFFFFF;
}

#question-text {
    display: flex;
    width: 70%;
    height: 192px;
    background: #9DC8E4;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#quest-head-cont {
    display: flex;
    justify-content: space-between;
}

#answers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    height: 160px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 35%;
}

.answer {
    background: #2AABE4;
    border-radius: 25px;
    width: 40%;
}

.answer p {
    text-align: center;
    font-weight: normal;
    font-size: large;
}

#next {
    width: 120px;
    height: 40px;
    background: #FFCD24;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 43%;
    margin-top: 15px;
    margin-bottom: 15px;
}